<body class="index">
  {{> header}}
  <div id="main">
    <div id="callToAction">
      <img src="/assets/logo_header.png" class="logo" />
      <h2>Desarrollo de soluciones cloud</h2>
      <h3>Proyecto Final</h3>
      <div class="make-pizza-button">
        <a href="/make/pizza">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit quisquam enim harum eius facilis explicabo veniam dolore tempora? Nam sunt harum esse iste repudiandae quibusdam expedita? Esse molestiae quisquam distinctio.</a>
      </div>
    </div>
    <div id="more">
      <h2>Recent Pizzas</h2>
      {{> pizzas}}
    </div>
    {{> footer}}
  </div>
</body>
